name: Deploy

on:
  workflow_call:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            cd ${{ secrets.PROJECT_NAME }}
            # sudo docker-compose -f docker-compose.yml --env-file .env down
            #sudo docker rmi \
            #  ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.PROJECT_NAME }}_frontend \
            #  ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.PROJECT_NAME }}_backend
            #sudo systemctl stop nginx
            sudo docker-compose -f docker-compose.yml --env-file .env up -d --quiet-pull
